.header {
    display: flex;
    margin: 40px 100px;
    height: 68px;
}

.header > .logo_header {
    flex: 0 1 auto;
}

.header > .header_links {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header > .header_links > div {
    margin-left: 57px;
    line-height: 142.6%;
    text-align: right;
}

.header > .header_links > div > a {
    color: #FF6060;
    text-decoration-line: underline;
    font-style: normal;
    font-size: 24px;
}